@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: "Inter";
    background: #E5E5E5;
}

.logo {
    margin: none;
}

main {
    width: 60%;
}

.lateral {
    width: 30%;
    background: #ffffff;
    border-radius: 20px;
}