@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.clearfix {
    clear:both;
}

body {
    font-family: "Inter";
    background: #E5E5E5;
    width: 80%;
    margin: 2.5em auto;
}

.logo {
    float: left;
}

/*área do texto*/
.principal {
    width: 50%;
    float: left;
    margin: 5em 2em;
}

.principal p {
    font-size: 0.75em;
    line-height: 1em;
    color: #495057;
    margin: 1em 0;
}

.principal textarea {
    font-size: 2em;
    font-family: "Inter";
    width: 100%;
    height: 500px;
    border: none;
    background-color: transparent;
    resize: none;
}

.principal textarea::placeholder {
    color: #0A3871;
}

/*botões*/
#crip {
    width: 48%;
	padding: 1.5em;
	background: #0A3871;
	color: #E5E5E5;
	font-size: 0.8em;
    margin-right: 1em;
	border: none;
	border-radius: 1.5em;
	transition: 0.5s all;
	cursor: pointer;
}

#crip:hover {
    background: #E5E5E5;
	color: #0A3871;
}

#descrip {
    width: 48%;
	padding: 1.5em;
	background: #E5E5E5;
	color: #0A3871;
	font-size: 0.8em;
	border: none;
	border-radius: 1.5em;
	transition: 0.5s all;
	cursor: pointer;
    border: 1px solid #0A3871;
}

#descrip:hover {
	background: #0A3871;
	color: #E5E5E5;
}

/*área lateral*/
.lateral {
    width: 30%;
    float: left;
    background-color: #ffffff;
    border-radius: 1.8em;
    height: 650px;
    text-align: center;
    padding: 1.5em;
}

.lateral img {
    width: 80%;
    margin-top: 20%;
}

.lateral p {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    color: #495057;
    margin: 0.8em;
}

.lateral p + p {
    font-size: small;
    font-weight: lighter;
}

#criptografado {
    font-size: 1em;
    font-family: "Inter";
    color: #495057;
    width: 100%;
    height: 580px;
    margin-bottom: 10px;
    text-align: left;
}

#copiar {
    width: 80%;
	padding: 1.5em;
	background: #ffffff;
	color: #0A3871;
	font-size: 0.8em;
	border: none;
	border-radius: 1.5em;
	transition: 0.5s all;
	cursor: pointer;
    border: 1px solid #0A3871;
}

#copiar:hover {
	background: #0A3871;
	color: #ffffff;
}

/*rodapé*/

footer {
    text-align: center;
    font-size: small;
}



